*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_pro-bak
*.kicad_sch-bak
*.kicad_pr1
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backups
*.round-tracks-config
*.old
board2pdf.config.ini
gerber
img
kibot_errors.filter
*.lck
sym-lib-table
